/* ====================================
// css variables
// ==================================== */

:root {
  --blanc: #f6f5f4;
  --bleu: #150df7;
  --rouge: #ff1650;
  --noir: #111111;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: var(--blanc);
  color: var(--noir);
  font-family: "RocGrotesk-Regular";
  margin: 0px;
  padding: 0px;
  background-color: #d5d5d5;
}

main {
  margin: 60px;
}

a {
  color: inherit;
}

video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.landing-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--rouge);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  opacity: 1;
  z-index: 999;
}

/* ====================================
// base rules

// ==================================== */
