/* ====================================
// css variables
// ==================================== */

:root {
  --blanc: #f6f5f4;
  --bleu: #150df7;
  --rouge: #ff1650;
  --noir: #111111;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: var(--blanc);
  color: var(--noir);
  font-family: "RocGrotesk-Regular";
}

main {
  margin: 60px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.locked-scroll::-webkit-scrollbar {
  display: none;
}

.locked-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.locked-scroll {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}
.section-light {
  background-color: var(--blanc);
  color: var(--noir);
}
.section-dark {
  background-color: var(--noir);
  color: var(--blanc);
}

.landing-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--rouge);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  opacity: 1;
  z-index: 999;
}

/* ====================================
// base rules

// ==================================== */
