.section-img {
  object-fit: contain;
}

.section-img img {
  width: auto;
  height: 100%;
}

.section-work {
  height: 41vw;
  display: inline-block;

  @media (max-width: 768px) {
    height: 97vw;
  }

  @media (max-width: 1000px) {
    height: 45vw;
  }
}

.section-work-small {
  @media (max-width: 768px) {
    height: 70vw !important;
  }
}

.section-work-txt {
  background-color: var(--blanc);

  @media (max-width: 768px) {
    height: 80%;
  }
}

@media only screen and (max-width: 768px) {
  #first {
    order: 1;
  }
  #second {
    order: 2;
  }
  #third {
    order: 4;
  }
  #fourth {
    order: 3;
  }
}

.section-title {
  line-height: 3.5vw;
  margin-left: -3px;

  @media (max-width: 768px) {
    line-height: 7vw;
    font-size: 8vw;
  }
}

.section-txt {
  margin-top: 10%;
  margin-left: 18%;

  @media (max-width: 1500px) {
    margin-top: 8%;
    margin-left: 10%;
  }
}

.section-desc-work {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    padding-bottom: 7%;
  }

  @media (max-width: 1500px) {
    max-width: 90%;
  }
}

.section-list {
  padding-top: 3%;
  padding-bottom: 7vw;
  text-transform: capitalize;

  @media (max-width: 1200px) {
    padding-bottom: 2vw;
  }

  @media (max-width: 1500px) {
    padding-bottom: 7vw;
  }

  @media (max-width: 1000px) {
    padding-bottom: 4vw;
  }

  @media (max-width: 768px) {
    padding-bottom: 10vw;
  }
}

.section-list li {
  padding-top: 1%;
  text-transform: uppercase;

  @media (max-width: 1000px) {
    padding-top: 0%;
  }
}

.section-desc-work-t {
  padding-bottom: 5%;
}

.text-section-title-container {
  display: flex;
}

.top-text-section {
  color: var(--rouge);
  padding-left: 10px;
}

.nopadding-section {
  padding: 0 !important;
}

.container-section-category {
  margin-top: 30%;
  margin-left: 18%;

  @media (max-width: 1500px) {
    margin-left: 10%;
  }
  @media (max-width: 768px) {
    margin-top: 0%;
    margin-left: 6.5%;
  }
}

.layout-main {
  margin: 0;
  overflow: hidden;
}

/*
.custom-background {
  background: url("../img/sam_illustration_2023.jpg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}*/

@media (max-width: 1500px) {
  .spacement-responsive p,
  br {
    display: none;
  }
}

@media (max-width: 768px) {
  .spacement-responsive p,
  br {
    display: block;
  }
}

@media (max-width: 768px) {
  .custom-swiper {
    display: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*visibility: hidden;*/
  }
}
