ul {
  list-style: none;
}

.li-menu {
  width: max-content;
  align-items: center;
  margin: auto;
  line-height: 110px;
}

.li-menu a {
  text-decoration: none;
  color: white;
  transition: all 0.17s;
  text-transform: uppercase;
}

.li-menu .illustration,
.graphic-design,
.motion-design,
.contact {
  font-size: 180px;
}

.li-menu .illustration:hover,
.graphic-design:hover,
.motion-design:hover,
.home:hover,
.contact:hover {
  color: var(--rouge);
  padding-left: 10px;
}

.li-menu .home {
  font-size: 100px !important;
}

.li-menu .menu-number-work {
  font-size: 50px;
  position: relative;
  vertical-align: top;
  top: -1em;
  color: var(--rouge);
}

.copyright-nav {
  font-size: 17px;
  opacity: 30%;
}

.toggle-button {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  mix-blend-mode: difference;
  z-index: 4;
}

.overlay {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--noir);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 3;
}

.overlay-content {
  text-align: center;
}

.overlay-1 {
  z-index: 2;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.hamburger-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.hidden {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.burger {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  margin: 0.5rem;
}

.burger span {
  user-select: none;
  position: absolute;
  margin: 0.0625rem auto 0.525rem -0.75rem;
  text-indent: -999em;
  top: 50%;
  left: 50%;
  margin-top: -0.0625rem;
  cursor: pointer;
}
.burger span,
.burger span:before,
.burger span:after {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: white;
  mix-blend-mode: difference;
  transition: 0.3s;
  opacity: 1;
  z-index: 20;
}
.burger span:before,
.burger span:after {
  position: absolute;
  content: "";
}
.burger span:before {
  top: -0.525rem;
}
.burger span:after {
  top: 0.525rem;
}
.burgers {
  display: flex;
}

.burger1 input:checked + span:before,
.burger1 input:checked + span:after {
  top: 0px;
  margin-top: -0.5875rem;
}

.burger1 input:checked + span {
  background-color: transparent;
}

.burger1 input:checked + span:before {
  transform: translateY(0.525rem) rotate(45deg);
}

.burger1 input:checked + span:after {
  transform: translateY(0.525rem) rotate(-45deg);
}

.burger2 input:checked + span:before,
.burger2 input:checked + span:after {
  top: 0px;
  margin-top: -0.5875rem;
}

.burger2 input:checked + span {
  background-color: transparent;
}

.burger2 input:checked + span:before {
  transform: translateY(0.525rem) rotate(-45deg);
}

.burger2 input:checked + span:after {
  transform: translateY(0.525rem) rotate(45deg);
}

.burger3 input:checked + span:before,
.burger3 input:checked + span:after {
  top: 0px;
  margin-top: -0.5875rem;
}
.burger3 input:checked + span {
  transform: rotate(-360deg);
  background-color: transparent;
}

.burger3 input:checked + span:before {
  transform: translateY(0.525rem) rotate(-45deg);
}

.burger3 input:checked + span:after {
  transform: translateY(0.525rem) rotate(45deg);
}

.burger4 input:checked + span:before,
.burger4 input:checked + span:after {
  top: 0px;
  margin-top: -0.5875rem;
}

.burger4 input:checked + span {
  animation: menuCloseMiddle--base 0.5s forwards;
}

.burger4 input:checked + span:before {
  animation: menuCloseMiddle--before 0.5s forwards;
}

.burger4 input:checked + span:after {
  animation: menuCloseMiddle--after 0.5s forwards;
}
@keyframes menuCloseMiddle--base {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  80% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes menuCloseMiddle--after {
  0% {
    transform: translateY(0) rotate(0);
  }
  80% {
    transform: translateY(0.525rem) rotate(0);
  }
  100% {
    transform: translateY(0.525rem) rotate(45deg);
  }
}
@keyframes menuCloseMiddle--before {
  0% {
    transform: translateY(0) rotate(0);
  }
  80% {
    transform: translateY(0.525rem) rotate(0);
  }
  100% {
    transform: translateY(0.525rem) rotate(-45deg);
  }
}
.description {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
}
