.locked-scroll::-webkit-scrollbar {
  display: none;
}

.locked-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.locked-scroll {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  scroll-snap-align: center;
}

.section-light {
  background-color: var(--blanc);
  color: var(--noir);
}
.section-dark {
  background-color: var(--noir);
  color: var(--blanc);
}

/* section-1 */

.section-1-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;
  overflow: hidden;
  img {
    position: absolute;
  }
}

.header-image {
  margin-top: -5px;
  bottom: 0;
  height: 101vh;
  width: auto;
  overflow: hidden;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .header-image {
    margin-left: auto;
    margin-right: auto;
    height: 101%;
    width: auto;
    position: absolute;
    right: -60vw;
  }
}

.text-container-1-title {
  font-family: "RocGrotesk-Light";
  display: inline;
  position: absolute;
  left: 0;
  line-height: 3vw;
  font-size: 4.7vw;
  bottom: 6%;
  margin: 3%;
  z-index: 10;
}

.gradient-phone {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;

  @media (max-width: 1200px) {
    visibility: visible;
    height: 110%;
  }
}

@media screen and (max-width: 768px) {
  .text-container-1-title {
    line-height: 8vw;
    font-size: 10vw !important;
  }
}

em {
  font-family: "RocGrotesk-Regular";
  font-style: normal;
  font-size: 2vw;
  vertical-align: super;
}

i {
  line-height: 5vw;
  font-style: normal;
}

.bottom-screen-navigation {
  font-size: 1.1vw;
  color: var(--blanc);
  font-weight: bolder;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.bottom-navigation-ul a {
  padding-top: 0.2vw;
  text-decoration: none;
}

.bottom-navigation-ul {
  padding-top: 1vw;
  font-size: 16px;
  line-height: 1.4vw;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;
}

.btm-works {
  padding-right: 3vw;
}

.btm-about {
  padding-right: 17vw;
}

/* section-2 */

.section-2-container {
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section-4-container {
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 4.7vw;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 7vw;
  }
}

/* btn-round */
.btn-round {
  border: 1px solid var(--blanc);
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 5vw;
}

.btn-round:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: ease-out 0.1;
}

.section-3-container {
  margin: 3.5%;
}

.image-alya-main img {
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
}

.image-alya-main {
  position: relative;
}

.section-3-content-container {
  display: flex;
  flex-direction: column;
}

.section-3-p {
  padding-bottom: 6%;
  font-size: 16px;
}

.title-section-3 {
  padding-top: 80%;
  padding-bottom: 20%;
}

.section-4-text-top {
  padding-top: 25%;
}

.text-container-4-title {
  padding-top: 5%;
}

.text-container-4-p {
  padding-top: 1%;
}

.text-container-4-p p {
  padding-bottom: 10px;
}
