.scroll-down {
  font-size: 13px;
  display: none;

  @media (max-width: 576px) {
    padding-top: 5%;
    display: block;
  }
}

.locked-scroll::-webkit-scrollbar {
  display: none;
}

.locked-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.locked-scroll {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  @media (max-width: 576px) {
    scroll-snap-type: none;
  }
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  scroll-snap-align: center;
  overflow: hidden;

  @media (max-width: 576px) {
    height: 70vh;
  }
}

.section-light {
  background-color: var(--blanc);
  color: var(--noir);
}
.section-dark {
  background-color: var(--noir);
  color: var(--blanc);
}

/* section-1 */

.section-1-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;
  overflow: hidden;
  img {
    position: absolute;
  }
}

.header-image {
  margin-top: -5px;
  bottom: 0;
  height: 101vh;
  width: auto;
  overflow: hidden;
  bottom: 0;

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    height: 101%;
    width: auto;
    position: absolute;
    right: -60vw;
  }

  @media (max-width: 576px) {
    height: 63% !important;
    position: absolute !important;
    right: -90 !important;
    bottom: -100 !important;
  }
}

.text-container-1-title {
  font-family: "RocGrotesk-Light";
  display: inline;
  position: absolute;
  left: 0;
  line-height: 3vw;
  font-size: 4.7vw;
  bottom: 6%;
  margin: 3%;
  z-index: 10;

  @media (max-width: 576px) {
    top: 80;
  }
}

.gradient-phone {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;

  @media (max-width: 1200px) {
    visibility: visible;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .text-container-1-title {
    line-height: 10vw;
    font-size: 11vw !important;
    bottom: 10%;
    margin-left: 5%;
  }
}

em {
  font-family: "RocGrotesk-Regular";
  font-style: normal;
  font-size: 2vw;
  vertical-align: super;
}

i {
  line-height: 5vw;
  font-style: normal;
}

.bottom-screen-navigation {
  font-size: 1.1vw;
  color: var(--blanc);
  font-weight: bolder;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.bottom-navigation-ul a {
  padding-top: 0.2vw;
  text-decoration: none;
}

.bottom-navigation-ul {
  padding-top: 1vw;
  font-size: 16px;
  line-height: 1.4vw;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;

  @media (max-width: 1200px) {
    line-height: 2.5vw;
    padding-top: 2vw;
  }

  @media (max-width: 768px) {
    line-height: 6vw;
    padding-top: 5vw;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

.btm-works {
  padding-right: 3vw;

  @media (max-width: 768px) {
    padding-right: 7vw;
  }
}

.btm-about {
  padding-right: 17vw;

  @media (max-width: 768px) {
    padding-right: 25vw;
  }
}

/* section-2 */

.first-title {
  display: block;
}

.section-2-container {
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (max-width: 576px) {
    margin: 5%;
  }
}

.section-4-container {
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 4.7vw;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 11vw;
  }

  @media (max-width: 576px) {
    padding-top: 4%;
  }
}

/* btn-round */
.btn-round {
  border: 1px solid var(--blanc);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
  transition: ease-out 0.1s;

  /* 
  @media (max-width: 1200px) {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    height: 3vw;
  }

  @media (max-width: 768px) {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 7vw;
  }
  */
}

.btn-round:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.section-3-container {
  padding: 6%;
}

.image-alya-main {
  background-image: url(../img/alya_photo_cv.webp);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1200px) {
    height: 50%;
  }
}

.section-3-content-container {
  display: flex;
  flex-direction: column;
}

.section-3-p {
  padding-bottom: 6%;
  font-size: 16px;

  @media (max-width: 576px) {
    font-size: 13px;
    padding-bottom: 4%;
  }
}

.title-section-3 {
  padding-top: 400px;
  padding-bottom: 5vw;

  @media (max-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 1vw;
  }

  @media (max-width: 576px) {
    padding-top: 12px;
    padding-bottom: 6vw;
  }
}

.section-4-text-top {
  padding-top: 25%;
}

.text-container-4-title {
  padding-top: 5%;
}

.text-container-4-p {
  padding-top: 1%;
}

.text-container-4-p p {
  padding-bottom: 10px;
}

.btn-go-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 45px;
  color: var(--rouge);
  text-decoration: none;
}
