.sub-cat-full-container {
  display: flex;
  flex-direction: column;
}

.full-container-section {
  background-color: var(--gris);
  height: 25vw;
  overflow: hidden;
}

.text-sub a {
  max-width: 20%;
  bottom: 25%;
  position: absolute;
  display: block;
}

.text-sub-container {
  width: 400px;
}

.container-big-image {
  position: relative;
  padding-left: 0%;
}

.image-full-sub {
  overflow: hidden;
}

.image-full-sub img {
  overflow: hidden;
  max-width: 102vw;
  left: 0;
  bottom: 0;
}
