.container-table .table-2023 {
  padding-top: 3vw;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  padding-bottom: 0.5%;
  border-bottom: 0.5px solid var(--blanc);
}

.container-table .table-2022 {
  padding-top: 0vw;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  padding-bottom: 0.5%;
  border-bottom: 0.5px solid var(--blanc);
}

.a-1 {
  width: 40%;
}
.a-2 {
  width: 20%;
}

.table-text-container {
}

.table-text-container .a-2 {
  width: 22%;
}

.table-text-container .a-1 {
  width: 39%;
}

.container-table {
  font-size: 1.1vw;
  flex-grow: 1;
  height: 57%;
}

.table-content {
  display: flex;
  flex-direction: column;
}

.table-content-container {
  padding-top: 4%;
  width: 90%;
  margin: auto;
  display: block;
  overflow-y: auto !important;
  max-height: 100%;
  height: 70%;
}

.table-2022-container {
  padding-top: 1%;
  width: 90%;
  margin: auto;
  overflow-y: auto !important;
  max-height: 100%;
  height: 70%;
}

.table-text ul {
  display: flex;
  padding-top: 2.5%;
  text-align: left;
  font-size: 16px;
  padding-bottom: 0.4vw;
  border-bottom: 0.5px solid var(--blanc);
  transition: 0.17s;
}

.table-text ul:hover {
  color: var(--rouge);
  padding-left: 10px;
}

.table-text-container .a-2 .a-3 {
  padding-top: 1%;
}
